<div class="well">  
    <h1><%= @user.full_name %> profile</h1>
    <h3>Email: <%= @user.email %></h3>
  </div>
</div>
<% if @user.stocks.size > 0 %>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Comapny Name</th>
            <th>Symbol</th>
            <th>Current Price</th>
            <th>Follow</th>
        </tr>
    </thead>
    <tbody>
        <% @user_stocks.each do |user_stock| %>
        <tr>
            <td> <%= user_stock.name%></td>
            <td> <%= user_stock.ticker%></td>
            <td> <%= user_stock.last_price%></td>
            <td>
             <%= link_to "Add to my stocks", user_stocks_path(user: current_user, stock_ticker: user_stock.ticker),
                                      class: 'btn btn-xs btn-success', method: :post %>            
            </td>
        </tr>      
        <% end %>
    
    </tbody>
</table>
<% else %>
    <p class="lead">This user is not tracking any stocks</p>
<% end %>